In [52]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score

In [16]:
df=pd.read_csv("insurance.csv",sep=",")

In [17]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [18]:
print(df.isna().sum())

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [19]:
df=df.drop(["children","region"],axis=1)

In [20]:
df

      age     sex     bmi smoker      charges
0      19  female  27.900    yes  16884.92400
1      18    male  33.770     no   1725.55230
2      28    male  33.000     no   4449.46200
3      33    male  22.705     no  21984.47061
4      32    male  28.880     no   3866.85520
...   ...     ...     ...    ...          ...
1333   50    male  30.970     no  10600.54830
1334   18  female  31.920     no   2205.98080
1335   18  female  36.850     no   1629.83350
1336   21  female  25.800     no   2007.94500
1337   61  female  29.070    yes  29141.36030

[1338 rows x 5 columns]

In [21]:
label_encoder=LabelEncoder()
df["sex"]= label_encoder.fit_transform(df["sex"])

In [25]:
df['smoker'].unique()

array(['yes', 'no'], dtype=object)

In [64]:

print(df['smoker'].value_counts(normalize=True))

smoker
0    0.795217
1    0.204783
Name: proportion, dtype: float64

In [26]:
df["smoker"]= label_encoder.fit_transform(df["smoker"])

In [27]:
df

      age  sex     bmi  smoker      charges
0      19    0  27.900       1  16884.92400
1      18    1  33.770       0   1725.55230
2      28    1  33.000       0   4449.46200
3      33    1  22.705       0  21984.47061
4      32    1  28.880       0   3866.85520
...   ...  ...     ...     ...          ...
1333   50    1  30.970       0  10600.54830
1334   18    0  31.920       0   2205.98080
1335   18    0  36.850       0   1629.83350
1336   21    0  25.800       0   2007.94500
1337   61    0  29.070       1  29141.36030

[1338 rows x 5 columns]

In [71]:


X = df.drop(["charges"],axis=1) 
y = df["charges"].values 

# Splitting data into training (80%) and testing (20%) sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initializing the Linear regression model
model = LinearRegression()


# Training the model
model.fit(X_train, y_train)

# Predicting  test set
y_pred = model.predict(X_test)

# Evaluating accuracy
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R² Score: {r2:.2f}")


# Making predictions for new cases
new_cases = np.array([
    [23,0,78.07,1],  
    [23,0,28.06,0]   
])
predictions = model.predict(new_cases)
print(f"Predicted : {predictions}")

Mean Squared Error: 34515553.67
R² Score: 0.78
Predicted : [1000903.21065073  613096.78408619]